body {
    background-color: rgb(226, 226, 226);
    background-image: url('../assets/images/creative-flat-lay-photo-workspace-desk.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.nav {
    color: black;
}

.card {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    /* box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit; */
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.konten-table {
    height: 300px;
    overflow: scroll;
}

.table {
    width: fit-content;
}